{% extends 'base.html.twig' %}


{% block body %}

<div class="page-content-wrapper">
    <div class="page-content">
        
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <div class="profile-content">
						<div class="row">
							<div class="col-md-9">
								<!-- BEGIN PORTLET -->
								<div class="portlet light ">
									<div class="portlet-title">
										<div class="caption caption-md">
											<i class="icon-bar-chart theme-font hide"></i>
											<span class="caption-subject font-blue-madison bold uppercase">Editing User your ptofile</span>
											<span class="caption-helper hide">weekly stats...</span>
										</div>
									</div>
									<div class="portlet-body">
										<div class="row number-stats margin-bottom-30">
											<div class="col-md-9 col-sm-6 col-xs-6">
												<div class="margin-top-20" style="text-align:center;">
                                                <img src="{{ asset('assets/uploads/' ~ user.path) }}" id="avatar" height="140px" style="border-radius: 10%;"></div>

                                                <form class="form-horizontal" role="form" id="formEditMantenimientoUserDetails" action="{{ path('editUserAction') }}" method="POST">
                                                    <div class="form-body">
                                                        <div class="form-group col-md-6">

                                                            <input type="hidden" id="idUsuario" name="idUsuario" value="{{ user.id }}">
                                                            
                                                            <label class="col-md-6 control-label margin-top-20" style="padding-top:1px !important;">Image profile</label>
                                                            <div class="col-md-6 margin-top-20">
                                                                <input type="file" class=" c-font-14" id="fotoperfil" name="fotoperfil" accept="image/x-png,image/gif,image/jpeg">
                                                            </div>
                                                            

                                                            <label class="col-md-6 control-label margin-top-20" style="padding-top:1px !important;">Username</label>
                                                            <div class="col-md-6 margin-top-20">
                                                                <input type="text" class="form-control" placeholder="Username" id="usernameMantenimiento" name="usernameMantenimiento" value="{{ user.username }}">
                                                            </div>

                                                            <label class="col-md-6 control-label margin-top-20" style="padding-top:1px !important;">Name</label>
                                                            <div class="col-md-6 margin-top-20">
                                                                <input type="text" class="form-control" placeholder="Name" id="nameMantenimiento" name="nameMantenimiento" value="{{ user.name }}">
                                                            </div>

                                                            <label class="col-md-6 control-label margin-top-20" style="padding-top:1px !important;">Lastname</label>
                                                            <div class="col-md-6 margin-top-20">
                                                                <input type="text" class="form-control" placeholder="Lastname" id="lastnameMantenimiento" name="lastnameMantenimiento" value="{{ user.lastname }}">
                                                            </div>

                                                            <label class="col-md-6 control-label margin-top-20" style="padding-top:1px !important;">Age</label>
                                                            <div class="col-md-6 margin-top-20">
                                                                <input type="number" class="form-control" placeholder="Age" id="ageMantenimiento" name="ageMantenimiento" value="{{ user.age }}">
                                                            </div>

                                                            <label class="col-md-6 control-label margin-top-20" style="padding-top:1px !important;">Gender</label>
                                                            <div class="col-md-6 margin-top-20">
                                                                <input type="text" class="form-control" placeholder="what are you?" id="genderMantenimiento" name="genderMantenimiento" value="{{ user.gender }}">
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </form>

                                                <div class="footer-button-edit-profile margin-top-20">
                                                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn blue" onclick="sendDataEditUserDetails()">Guardar</button>
                                                </div>
											</div>
										</div>
										<div class="table-scrollable table-scrollable-borderless">

										</div>
									</div>
								</div>
								<!-- END PORTLET -->
							</div>
							
						</div>
						
					</div>
            </div>
        </div>
    </div>
</div> 



                    

<script>
    function sendDataEditUserDetails() {
        $.blockUI({ message: '<h4><img src="{{ asset('assets/global/plugins/cubeportfolio/cubeportfolio/img/cbp-loading.gif') }}" /> Guardando datos, por favor espere...</h4>' });
        var form=document.getElementById("formEditMantenimientoUserDetails");
        var formData = new FormData(form);
        $.ajax({
            url: '{{ path('editUserAction') }}',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (returndata) {
                Notificacion("success", "Survey Projext X", "Everything worked just fine.");
                $.unblockUI();
                $('#sample_2').load(window.location + ' #sample_2 >  *');

            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                Notificacion("error", "Survey Projext X", "ummmmm there is something wrong cowboy.");
                $.unblockUI();
            }
        });
  }

    jQuery(document).ready(function() {
        // initiate layout and plugins
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        ComponentsPickers.init();
    });




</script>



{% endblock %}