{% extends 'base.html.twig' %}


{% block body %}


<div class="container">

    <div class="col-md-12">



      <form class="form-horizontal" role="form" id="formEditMantenimientoUserDetails" action="{{ path('followingAction') }}" method="POST">

        <input type="hidden" id="idUsuario" name="idUsuario" value="{{ user.id }}">

      </form>

        <p style="color:white;"><b>ID:</b> {{ user.id }} </p>
        <p style="color:white;"><b>Email:</b> {{ user.email }} </p>
        <p style="color:white;"><b>User:</b> {{ user.username }} </p>
        {% if user.categoria == false %}
            <p style="color:white;"><b>Categoria:</b> Aun no tiene categoria </p>
        {% else %}   
            <p style="color:white;"><b>Categoria:</b> {{ user.categoria.categoria }} </p> 
        {% endif %}

    
        <button type="button" class="btn blue" onclick="sendDataEditUserDetails()">Follow</button>


    </div>


</div>

<script>

  
       function sendDataEditUserDetails() {

        $.blockUI({ message: '<h4><img src="{{ asset('assets/global/plugins/cubeportfolio/cubeportfolio/img/cbp-loading.gif') }}" /> Guardando datos, por favor espere...</h4>' });
        //var form = document.getElementById("idUsuario").value;

        var form=document.getElementById("formEditMantenimientoUserDetails");
        var formData = new FormData(form);
        
        $.ajax({
            url: '{{ path('followingAction') }}',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (returndata) {
                Notificacion("success", "Survey Project", "Empezaste a seguir a este usuario");
                $.unblockUI();
                $('#sample_2').load(window.location + ' #sample_2 >  *');

            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                Notificacion("error", "Survey Project", "Ya sigues a este usuario");
                $.unblockUI();
            }
        });


    }

    

    


    
</script>



{% endblock %}