{% extends 'base.html.twig' %}


{% block body %}


<div class="container">

    <div class="col-md-12">


        {% for usus in users %}
            <a href="{{ path('showUser', {'id': usus.id}) }}">
                <h1 style="color:white;">{{ usus.username }} - {{ usus.id }} </h1>
            </a>
            
        {% endfor %}

        {% for us in usuarios %}
            <h1 style="color:white;">{{ us.categoria }} - {{ us.id }}</h1>
            
        {% endfor %}


    </div>


</div>



{% endblock %}