{% extends 'base.html.twig' %}


{% block body %}


<div class="container">

    <div class="col-md-12">


        {% for usus in users %}
            <a href="{{ path('showUser', {'id': usus.id}) }}">
                <h1 style="color:white;">{{ usus.username }} - {{ usus.id }} </h1>
            </a>
            <a href="{{ path('editUser', {'id': usus.id}) }}">
                <h1 style="color:white;">EDIT </h1>
            </a>
            <a href="{{ path('followingAction', {'id': usus.id}) }}">
                <h1 style="color:white;">FOLLOW </h1>
            </a>
            
        {% endfor %}




    </div>


</div>



{% endblock %}