{% extends 'base.html.twig' %}

{% block stylesheets %}

    <style>
        
    </style>

{% endblock %}

 {% block body %}

    

     <!-- BEGIN CONTENT -->
     <div class="page-content-wrapper">
         <div class="page-content">
             <div class="page-container">

                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="btn-group">
                                    <a class="btn blue" data-toggle="modal"
                                    onclick="createPlantillas()"> <i class="fa fa-plus"></i> New Post </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="col-md-12">



                    

                    <!-- POSTS -->
                    {% for postCards in posts %}



                    {% if postCards.id > 0 %}

                        <div class="col-md-2" style="max-height:5em;">
                            <div class="portlet light profile-sidebar-portlet">
                                <!-- SIDEBAR USERPIC -->
                                <div class="profile-userpic" >
                                    <img src="{{ asset('assets/uploads/' ~ postCards.path) }}" class="img-responsive user-pic" style="width:auto;">
                                </div>
                                <!-- END SIDEBAR USERPIC -->
                                <!-- SIDEBAR USER TITLE -->
                                <div class="profile-usertitle">
                                    <div class="profile-usertitle-name">
                                            <h3>{{postCards.titlePost}} </h3>
                                    </div>
                                    <div class="profile-usertitle-job">
                                        <p><b>Author: </b> {{ postCards.userId.username }} </p>
                                    </div>
                                </div>
                                <!-- END SIDEBAR USER TITLE -->
                                <!-- SIDEBAR BUTTONS -->
                                
                                <div class="profile-userbuttons">
                                    <a href="{{ path('showPost', {'id': postCards.id}) }}" class="btn yellow-crusta">
                                        READ MORE
                                    </a>
                                </div>
                                <!-- END SIDEBAR BUTTONS -->
                                
                            </div>
                        </div> 
                          
                    {% else %}  

                    There is no posts 
                        
                    {% endif %}

                           

                    {% endfor %}
                    <!-- END POSTS -->

                </div>
                 

                 
                 <!-- END: TABLA USUARIOS -->
                 <div id="verplantilla" class="modal container fade" tabindex="-1">
                 </div>
                 <div class="modal fade bs-modal-lg" id="editplantilla" tabindex="-1" role="dialog" aria-hidden="true">
                 </div>
                 <div class="modal fade bs-modal-lg" id="crearPost" tabindex="-1" role="dialog" aria-hidden="true">
                 </div>
                 <div class="modal fade bs-modal-lg" id="" tabindex="-1" role="dialog" aria-hidden="true" style=" z-index: 10000000 !important;">
                 </div>
                 <div class="modal fade bs-modal-lg" id="crearCompetenciaFichaBaseEdit" tabindex="-1" role="dialog" aria-hidden="true" style=" z-index: 10000000 !important;">
                 </div>

             </div>
         </div>

        </div>
     </div>
     <!-- END CONTENT -->


        


     <script>

         function createPlantillas() {
             $.blockUI({ message: '<h4><img src="{{ asset('assets/global/plugins/cubeportfolio/cubeportfolio/img/cbp-loading.gif') }}" /> Cargando datos, por favor espere...</h4>' });
             $( "#crearPost" ).load( "{{ path('showModalCreatePost')}}", function() {
                 $('#crearPost').modal('show');
                 $.unblockUI();
             });
         }


     </script>


 {% endblock %}