{% extends 'base.html.twig' %}


{% block stylesheets %}
<style>
.raulTest:after{
        content:'LOVED';
    }

</style>
    
{% endblock %}




 {% block body %}


<div class="page-content-wrapper" id="render">
    <div class="page-content">
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">


                <div class="col-md-12" >
                    <div class="portlet light profile-sidebar-portlet">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic" >
                            <img src="{{ asset('assets/uploads/' ~ post.path) }}" class="img-responsive user-pic" style="width:auto;">
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                <h1>{{post.titlePost}} </h1>
                            </div>
                            <div class="profile-usertitle-name">
                                <h4><b>Author: </b>{{post.userId}} </h4>
                            </div>
                            <div class="profile-usertitle-job">
                                <p> {{ post.postText }} </p>
                            </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->

                        <h1>Likes -> {{ likes|length }}</h1>
                        

                        

                        {% for postsUser in postsUserLogged %}

                            {% if  post.id == postsUser.id %}
                                <div class="profile-userbuttons">
                                    <a class="btn blue" data-toggle="modal"
                                        onclick="editPost()"> <i class="fa fa-pencil"></i> 
                                        EDIT 
                                    </a>
                                </div>   
                            {% else %}   
                                
                            {% endif %}

                            

                        {% endfor %}  

                        <form class="form-horizontal" role="form" id="likeAction" action="{{ path('addLikeAction', {'id': post.id}) }}" method="POST">
        
                            
                            
                            {% if likesUserId is null %}


                                <a class="btn blue rem" id="renderTest"
                                    onclick="likePost()"> <i class="fa fa-heart"></i> 
                                    
                                </a>  
                                
                                        
                                {% else %} 

                                <a class="btn blue rem" id="renderTest"
                                    onclick="likePost()"> <i class="fa fa-heart"></i> 
                                    
                                </a>    

                                
                            
                            {% endif %}

                            

                        </form>
                           
                        
                        
                        
                        
                        <!-- END SIDEBAR BUTTONS -->
                        
                    </div>
                </div> 

                <div id="verplantilla" class="modal container fade" tabindex="-1">
                </div>
                <div class="modal fade bs-modal-lg" id="editPost" tabindex="-1" role="dialog" aria-hidden="true">
                </div>   



            </div>
        </div>
    </div>
</div>

    <script>

        function editPost() {
             $.blockUI({ message: '<h4><img src="{{ asset('assets/global/plugins/cubeportfolio/cubeportfolio/img/infinity.svg') }}" /> Cargando datos, por favor espere...</h4>' });
             $( "#editPost" ).load( "{{ path('showModalEditPostAction', {'id': post.id}) }}", function() {
                 $('#editPost').modal('show');
                 $.unblockUI();
             });
         }

        function likePost() {

            $.blockUI({baseZ: 20000, message: '<h4><img src="{{ asset('assets/global/plugins/cubeportfolio/cubeportfolio/img/infinity.svg') }}" /> Guardando datos, por favor espere...</h4>'});
            var form = document.getElementById("likeAction");
            var formData = new FormData(form);
            $.ajax({
                url: '{{ path('addLikeAction', {'id': post.id}) }}',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (returndata) {
                    Notificacion("success", "Survey Projext X", "Everything worked just fine.");
                    $('#sample_2').load(window.location + ' #sample_2 >  *');
                    //$( "#render" ).load( "{{ path('helloPost', {'id': post.id}) }}");
                    $( "#renderTest" ).removeClass("blue rem").addClass("red raulTest");
                    $.unblockUI();

                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    Notificacion("error", "Survey Projext X", "ummmmm there is something wrong cowboy.");
                    $.unblockUI();
                    
                }
            });
        }


    </script>

    

 {% endblock %}